.heading {
  color: red;
  font-size: 2rem;
  text-align: center;
}
.main {
  margin: 0px 2rem;
}
.table table {
  width: 100%;
}
.table table th {
  font-size: 0.8rem;
}

.active {
  color: red;
}

a {
  color: rgb(39, 42, 177);
  text-decoration: none;
}
